<!-- <!DOCTYPE html>
<html>
<body>
  <h1>Give Us Some Words</h1>
  <form action="/story">
    <p>Verb <input name="verb"></p>
    <p>Noun <input name="noun"></p>
    <p>Adjective <input name="adjective"></p>
    <p>Noun 2 <input name="noun2"></p>
    <p>check it out?
      <input type="checkbox" name="comps">
    </p>  
    <button>Go!</button>
  </form>
  {% for prompt in prompts %}
  <h2>prompt:  {{ prompt }}</h2>
  {% endfor %}
</body>
</html> -->

<!doctype html>
<html>
<head>
  <title>Madlibs</title>
</head>
<body>
  <h1>Madlibs</h1>
  <form action="/story">
    {% for prompt in prompts %}
      <p>{{ prompt }}:
        <input name="{{ prompt }}">
      </p>
    {% endfor %}
    <button>Submit</button>
  </form>
</body>
</html>